<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"style="color: chocolate" href="{% url 'welcome' %}"> DenJal</a>
            </a>
        </div>


    </div>
</nav>
<div>
    <h1 class="text-center" style="color: rgb(245, 91, 91)">
        Welcome To DenJal Gallery
    </h1>
</div>